<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>HOLA</string>
	<key>CFBundleIdentifier</key>
	<string>com.alisherkaidarov.hola</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/GothamProBlack.ttf</string>
		<string>Fonts/GothamProBlackItalic.ttf</string>
		<string>Fonts/GothamProBold.ttf</string>
		<string>Fonts/GothamProBoldItalic.ttf</string>
		<string>Fonts/GothamProItalic.ttf</string>
		<string>Fonts/GothamProLight.ttf</string>
		<string>Fonts/GothamProLightItalic.ttf</string>
		<string>Fonts/GothamProMedium.ttf</string>
		<string>Fonts/GothamProMediumItalic.ttf</string>
		<string>Fonts/GothamProRegular.ttf</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
